# Ignoro dir con env Anaconda
jwt_none
!jwt_none/lib/python3.7/site-packages/jwt/jwa.py
# Ignoro file di compilazione
__pycache__
# Ignoro file di configurazione di Visual Studio Code
.DS_Store
.vscode
# Ignoro il db
jwt_app.db
